/*para la pantalla grande*/
@media (min-width: 1023px) {

    /***************************************encabezado*******************************************/

    /*caja de encabezado*/
    #encabezadoLinks.flex-container {
        display: flex;
        flex-direction: row;
        background-color: #038C3E;
        height: 60px;


        /*mueve en vertical al centro*/
        align-items: center;
    }

    #encabezadoLinks {
        /*para qeu el titulo este separado de los links*/
        justify-content: space-between;
    }

    /*encabezado primero*/

    /*mi nombre*/
    #encabezadoLinks>.tituloNombre>a {
        display: flex;
        align-items: center;
        height: 100px;
        color: azure;
        font-family: 'Climate Crisis', sans-serif;
        font-size: 1.5vw;
        margin: 0px 0px 0px 100px;
    }

    .tituloNombre>a {
        font-weight: 100;
        padding: 0px 0px 0px 30px;
        text-decoration: none;
    }


    /******************************************links******************************************/
    /*contenedor*/
    /*
    #encabezadoLinks {
        display: flex;
        justify-content: center;
        height: 50px;
    }*/


    /*boton de hambuerguesa*/
    .abrirMenu {
        display: none;
    }

    .nav-list {
        display: flex;
        margin-bottom: 0px;

    }

    /*contenedor de los iconos con letras*/
    /*iconos*/
    /*links*/
    .nav-list>li {
        display: flex;
        align-items: center;
        font-family: 'Playpen Sans', cursive;
        font-weight: 900;
        color: azure;
        padding: 0px 100px 0px 10px;
        text-decoration: none;
        height: 50px;
        margin: 0px;
    }


    .nav-list>li>a {
        font-family: 'Playpen Sans', cursive;
        font-weight: 900;
        color: azure;
        text-decoration: none;
        padding: 0px 0px 0px 10px;
    }

    /*cuando el mouse este encima*/
    .nav-list>li>a:hover {
        color: rgba(85, 27, 177, 0.514);
        font-size: 1.01em;
    }


    #botonParaCerrar {
        display: none;
    }

    /********************************cuerpo de paguina******************************************/

    /**********************primera fila*************************/
    #cuerpoPresentacion {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 2vw 20vw 1vw 20vw;
    }

    #imagenSecundaria {
        width: 20vw;
        border-radius: 100%;
        border: 2px solid rgba(0, 0, 0, 0.26);
    }

    /**********************primera fila*************************/
    #segundaLinea{
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 2vw 20vw 1vw 20vw;
    }

    #letrasPresentacion {
        margin: 3vw;
    } 

    #segundaIimagen{
        width: 20vw;
        border-radius: 100%;
        border: 2px solid rgba(0, 0, 0, 0.26);
    }

    

    /***********************tabla************************************/


    table{
        width: 90%;
    }

    #terceraLinea{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 4vw 20vw 2vw 20vw;
        padding: 2vw;
        border: 1px solid rgba(0, 0, 0, 0.274);
        background-color: rgba(0, 0, 0, 0.055);

        font-size: 1.5vw;
        font-family: 'Playpen Sans', cursive;
    }

    #primer{
        width: 100px;
         max-width: 100px;
    }

    /*encabezado*/
    thead{
       font-size: 2vw;
    }

    /*elementos individuales*/
    td{
        padding: 15px 50px 10px 10px;
    }

    /*imagenes*/
    td#iconoDeCertificados{
        width: 20px;
        
    
    }
    #iconoDeCertificados > img{
        width: 5vw;
    }

    #filaDTabla:hover{
        background-color: #107c3f5e;
        box-shadow: 0 0 20px 5px rgba(68, 68, 68, 0.288);
    }






    /************************************pie de pagina *****************************************/

    #pieDPagina {
        display: flex;
        flex-direction: column;
        height: 180px;
        width: 100%;
        background-color: #038C3E;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    #pieDPagina>p {
        color: azure;
    }

    #pieDPaginaContactos {
        display: flex;
        flex-direction: row;
        color: azure;
    }

    /*logos*/

    #logoWhasapp,
    #logoGmail,
    #logoLikedIn {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 10px;
    }

}

/**************************************************************************************para la pantalla mediana***********************************************************************/
@media (min-width: 768px) and (max-width: 1022px) {
    /***************************************encabezado*******************************************/

    /*caja de encabezado*/
    #encabezadoNombre.flex-container {
        display: flex;
        flex-direction: row;
    }

    #encabezadoLinks.flex-container {
        display: flex;
        flex-direction: row;
        background-color: #038C3E;
        height: 60px;

        align-items: center;
    }

    /*encabezado primero*/

    /*mi nombre*/
    #encabezadoLinks>.tituloNombre>a {
        display: flex;
        align-items: center;
        height: 100px;
        color: azure;
        font-family: 'Climate Crisis', sans-serif;
        font-size: 2.4vw;
        margin: 0px 0px 0px 40px;
    }

    .tituloNombre>a {
        font-weight: 100;
        padding: 0px 0px 0px 30px;
        text-decoration: none;
    }

    /******************************************links******************************************/
    /*contenedor*/
    #encabezadoLinks {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }


    /*boton de hambuerguesa*/
    .abrirMenu {
        position: relative;
        display: flex;
        margin-right: 25px;
        background-color: transparent;
        border: 0;
        color: azure;
    }

    /*boton cerrar*/
    #botonParaCerrar {
        position: relative;
        display: flex;
        margin-right: 30px;
        background-color: transparent;
        border: 0;
        color: azure;
    }


    /*links*/
    /*contenedor*/
    .nav {
        /*display: none;*/

        position: absolute;
        background-color: black;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

        /*para ocultar el menu*/
        opacity: 0;
        visibility: hidden;

        transition: .30s;
    }

    /*na que mostrara el menu*/
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }



    .nav-list {
        color: white;
        list-style-type: none;
        margin: 0px;
    }

    .nav-list>li {
        margin: 10px;
    }

    .nav-list>li>a {
        color: white;
    }

    .nav-list>#botonParaCerrar {
        margin-left: 4em;
    }




    /************************************pie de pagina *****************************************/

    #pieDPagina {
        display: flex;
        flex-direction: column;
        height: 120px;
        width: 100%;
        background-color: #038C3E;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    #pieDPagina>p {
        color: azure;
    }

    #pieDPaginaContactos {
        display: flex;
        flex-direction: row;
        color: azure;
    }

    /*logos*/

    #logoWhasapp,
    #logoGmail,
    #logoLikedIn {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 10px;
    }
}


/**************************************************************************************para la pantalla pequeña***********************************************************************/

@media (max-width: 767px) {

    /***************************************encabezado*******************************************/

    /*caja de encabezado*/
    #encabezadoNombre.flex-container {
        display: flex;
        flex-direction: row;
    }

    #encabezadoLinks.flex-container {
        display: flex;
        flex-direction: row;
        background-color: #038C3E;
        height: 60px;
        align-items: center;
    }

    /*encabezado primero*/

    /*mi nombre*/
    #encabezadoLinks>.tituloNombre>a {
        display: flex;
        align-items: center;
        height: 100px;
        color: azure;
        font-family: 'Climate Crisis', sans-serif;
        font-size: 3vw;
        margin: 0px 0px 0px 20px;
    }

    .tituloNombre>a {
        font-weight: 100;
        padding: 0px 0px 0px 30px;
        text-decoration: none;
    }

    /******************************************links******************************************/
    /*contenedor*/
    #encabezadoLinks {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }

    /*boton de hambuerguesa*/
    .abrirMenu {
        position: relative;
        display: flex;
        margin-right: 25px;
        background-color: transparent;
        border: 0;
        color: azure;
    }

    /*boton cerrar*/
    #botonParaCerrar {
        position: relative;
        display: flex;
        margin-right: 30px;
        background-color: transparent;
        border: 0;
        color: azure;
    }


    /*links*/
    /*contenedor*/
    .nav {
        position: absolute;
        background-color: black;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

        /*para ocultar el menu*/
        opacity: 0;
        visibility: hidden;
    }

    /*na que mostrara el menu*/
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        color: white;
        list-style-type: none;
        margin: 0px;
    }

    .nav-list>li {
        margin: 10px;
    }

    .nav-list>li>a {
        color: white;
    }

    .nav-list>#botonParaCerrar {
        margin-left: 4em;
    }

    /************************************pie de pagina *****************************************/

    #pieDPagina {
        display: flex;
        flex-direction: column;
        height: 120px;



        background-color: #038C3E;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    #pieDPagina>p {
        color: azure;
    }

    #pieDPaginaContactos {
        display: flex;
        flex-direction: row;
        color: azure;
    }

    /*logos*/

    #logoWhasapp,
    #logoGmail,
    #logoLikedIn {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 10px;
    }
}